{{ template "_header.html" . }}

<h2>{{ .Content.Chat.Name }}</h2>

<ul id="chat-messages">
    {{ range .Content.Chat.Messages }}
    <li><b>{{ .Username }}:</b> {{ .Body }}</li>
    {{ end }}
</ul>


<form action="/messages/create" method="post" id="chat-form">
    <input type="hidden" name="chat_id" value="{{ .Content.Chat.ID }}" />
    <div class="form-group">
        <label for="message_body">Message</label>
        <textarea name="message_body" id="message_body" class="form-control"></textarea>
    </div>
    <input type="submit" value="Send" class="btn btn-default" />
</form>


<script type="text/javascript">
    $(function() {
        var ws = new WebSocket("ws://localhost:8000/ws?chat_id={{.Content.Chat.ID}}")
        ws.addEventListener('message', function(e) {
            console.log(e);
            var message = JSON.parse(e.data);
            $('#chat-messages').append("<li><b>" + message.Username + ":</b>" + message.Body + "</li>")
        });
        $('#chat-form').submit(function(e) {
            var $this = $(this);
            e.preventDefault();
            $.post("/messages/create", $this.serialize())
                .done(function(data) {
                    $('#message_body').val('');
                    console.log(data);
                });
        });
    })
</script>

{{ template "_footer.html" }}
